# Configuration file

enabled {
    B:"advancedrocketry:planks"=true
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"bewitchment:coquina_bricks"=true
    B:"bewitchment:cypress_planks"=true
    B:"bewitchment:dragons_blood_planks"=true
    B:"bewitchment:elder_planks"=true
    B:"bewitchment:juniper_planks"=true
    B:"bewitchment:scorned_bricks"=true
    B:"immersiveengineering:treated_wood"=true
    B:"undergroundbiomes:igneous_brick"=true
    B:"undergroundbiomes:igneous_cobble"=true
    B:"undergroundbiomes:igneous_sandstone"=true
    B:"undergroundbiomes:metamorphic_brick"=true
    B:"undergroundbiomes:metamorphic_cobble"=true
    B:"undergroundbiomes:metamorphic_sandstone"=true
    B:"undergroundbiomes:sedimentary_sandstone"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


